<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Import hibernate Config -->
    <import resource="hibernateApplication.xml"/>

    <!-- Reminder: scope has to be prototype because each request is unique -->

    <!-- Spring config: login Action -->
    <bean id="loginAction" class="com.Kotori.web.LoginAction" scope="prototype">
        <property name="loginService" ref="serviceLogin"></property>
    </bean>
    <bean id="serviceLogin" class="com.Kotori.service.impl.LoginServiceImpl">
        <property name="UserDao" ref="DaoLogin"></property>
    </bean>
    <!-- Reminder: Essential to inject sessionFactory so that database could be used -->
    <bean id="DaoLogin" class="com.Kotori.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- Spring config: Category Action -->
    <bean id="categoryAction" class="com.Kotori.web.CategoryAction" scope="prototype">
        <property name="categoryService" ref="serviceCategory"></property>
    </bean>
    <bean id="serviceCategory" class="com.Kotori.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="DaoCategory"></property>
    </bean>
    <bean id="DaoCategory" class="com.Kotori.dao.impl.CategoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- Spring config: Article Action -->
    <bean id="articleAction" class="com.Kotori.web.ArticleAction" scope="prototype">
        <property name="articleService" ref="serviceArticle"></property>
    </bean>
    <bean id="serviceArticle" class="com.Kotori.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="DaoArticle"></property>
    </bean>
    <bean id="DaoArticle" class="com.Kotori.dao.impl.ArticleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- Spring config: User Action -->
    <bean id="userAction" class="com.Kotori.web.UserAction" scope="prototype">
        <property name="userService" ref="serviceUser"></property>
    </bean>
    <bean id="serviceUser" class="com.Kotori.service.impl.UserServiceImpl">
        <property name="userDao" ref="daoUser"></property>
    </bean>
    <bean id="daoUser" class="com.Kotori.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- Spring config: Location Action -->
    <bean id="locationAction" class="com.Kotori.web.LocationAction" scope="prototype"></bean>

    <!-- Spring config: Web Action -->
    <bean id="webAction" class="com.Kotori.web.WebAction" scope="prototype">
        <property name="articleService" ref="serviceArticle"></property>
    </bean>

</beans>